# 객체란?

## 객체(object)

- 메모리에 저장된 자료를 '객체'라고 부른다
- 모든 객체는 자료형(data types)을 갖는다
- 모든 객체는 고유 id를 갖는다
- 객체를 저장한 공간을 변수(variable)라고 하고 변수명(variable name)으로 객체에 접근할 수 있다

In [3]:
# 100 객체(값)을 x라는 변수에 할당함
x = 100

In [2]:
x

100

### id() 함수는 괄호 안에 있는 변수의 메모리 주소를 나타냄

In [4]:
id(x)

1806462208

In [7]:
y = 50

In [9]:
id(y)

1806460608

In [10]:
z = x+y

In [11]:
z

150

In [12]:
id(z)

1806463808

In [13]:
print(x)

100

In [14]:
print(x, y)

100 50

### type() : 괄호 안에 있는 변수의 데이터 타입을 알려줌

In [15]:
xx = 3.0

In [16]:
type(xx)

float

In [17]:
type(x)

int

# 변수

### 변수는 대소문자를 구별함

### 초록색이 뜨는것은 변수로 만들지 말것

In [20]:
age = 25

In [21]:
height = 184

In [24]:
%whos

Variable   Type     Data/Info
-----------------------------
age        int      25
height     int      184
x          int      100
xx         float    3.0
y          int      50
z          int      150

### del() 괄호 안에 있는 변수를 지운다

In [25]:
data = 100

In [26]:
%whos

Variable   Type     Data/Info
-----------------------------
age        int      25
data       int      100
height     int      184
x          int      100
xx         float    3.0
y          int      50
z          int      150

In [27]:
del data

In [28]:
%whos

Variable   Type     Data/Info
-----------------------------
age        int      25
height     int      184
x          int      100
xx         float    3.0
y          int      50
z          int      150

### %reset : 전체 변수 삭제

In [29]:
%reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [30]:
%whos

Interactive namespace is empty.

# 자료형

## 파이썬 자료형 (data types)

- 수치 자료형 : int(정수), float(실수), complex(복소수)
- 부울 자료형 : bool (True/False)
- 군집으로 다루는 자료형
    - str (문자열)
    - list (리스트)
    - tuple (튜플)
    - set (집합)
    - dict (사전)

### 복소수

In [31]:
x = 3 + 3j

In [32]:
type(x)

complex

### 부울형

In [34]:
x = 1
y = 2

In [35]:
x > y

False

In [36]:
x < y

True

### 문자열

In [37]:
name = 'Jay Park' #홑따음표

In [38]:
print(name)

Jay Park

In [39]:
type(name)

str

In [40]:
city = "Seoul, Korea"

In [41]:
print(city)

Seoul, Korea

In [42]:
language = '''python'''

In [43]:
print(language)

python

In [44]:
address = "Seoul"

In [45]:
print(address)

Seoul

In [46]:
city[0]

'S'

## 리스트
 - 대괄호 [] 로 표현함
 - 여러 개의 자료를 모아서 저장해야 하는 경우에 사용함

In [7]:
scores = [80, 85, 90, 95, 100]
print(scores)

[80, 85, 90, 95, 100]

In [6]:
print(scores[0])

80

In [8]:
type(scores)

list

In [9]:
id(scores)

92051784

## 튜플
 - 괄호 () 로 표현함
 - 리스트처럼 여러 개의 자료를 저장할 수 있다

In [10]:
data = (3, 4, 5, 6)

In [11]:
print(data)

(3, 4, 5, 6)

In [12]:
type (data)

tuple

In [13]:
id (data)

92243112

## 집합
 - {} 로 표현한다
 - 중복되지 않는 여러 개의 자료들을 모아서 저장해야 하는 경우 사용

In [14]:
primes = {7, 17, 3, 5, 7, 19}

In [15]:
print(primes)

{3, 5, 7, 17, 19}

In [16]:
type(primes)

set

In [17]:
id(primes)

61741992

## 사전
 - 키(key)와 값(value)의 쌍으로 구성되는 집합의 일종
 - ex) 1반 35명, 2반 32명, 3반 30명, 4반 33명의 학생들이 있아면 사전을 사용해서 다음과 같이 표현 가능

In [18]:
count = {1:35, 2:32, 3:30, 4:33}

In [19]:
print(count)

{1: 35, 2: 32, 3: 30, 4: 33}

In [24]:
print(count[1])

35