# 반복문
## 1. while 문
## 2. for 문
----

## while 문

### 1부터 5까지 출력하기

In [2]:
a = 1
while a <= 5:
    print(a)
    a += 1 # a = a + 1

1
2
3
4
5

### 10부터 88888까지 더하기

In [3]:
a  = 10
total = 0
while a <= 88888:
    total = total + a
    a = a + 1
print('total : ' ,total)

total :  3950582671

In [6]:
sum(range(10,88889))

3950582671

## break 문

In [7]:
while True:
    num = int(input("input number(press 1 to exit)"))
    print("program is still running")
    
    if num == 1:
        print("you press number 1, quit program")
        break

input number(press 1 to exit)2
program is still running
input number(press 1 to exit)3
program is still running
input number(press 1 to exit)4
program is still running
input number(press 1 to exit)1
program is still running
you press number 1, quit program

In [9]:
while True:
    ID = input("input ID : ")
    PASSWORD = input("input password : ")
    
    if(ID == 'Jay') and (PASSWORD == '1234'):
        print("Log in")
        break
    
    else:
        print("try again or contact customer service center")

input ID : Jay
input password : 1234
Log in

## continue 문

In [ ]:
while True:
    ID = input("input ID : ")
    PASSWORD = input("input password : ")
    
    if(ID == 'Jay') and (PASSWORD == '1234'):
        continue
        print("Log in")
       
    
    elif ID == 'exit':
        break
    
    else: 
        print("try again or contact customer service center")

## 구구단 출력하기

In [4]:
i = 2
n = 1
while n <= 9:
    num = i*n
    n += 1
    print('{}' .format(num) ,end = ' ')

2 4 6 8 10 12 14 16 18

In [2]:
i = 2

while i <= 9:
    j = 1
    while j <= 10:
        num = i*j
        print('{0:3d}'.format(num), end = ' ')
        j += 1
    i += 1
    print()

  2   4   6   8  10  12  14  16  18  20
  3   6   9  12  15  18  21  24  27  30
  4   8  12  16  20  24  28  32  36  40
  5  10  15  20  25  30  35  40  45  50
  6  12  18  24  30  36  42  48  54  60
  7  14  21  28  35  42  49  56  63  70
  8  16  24  32  40  48  56  64  72  80
  9  18  27  36  45  54  63  72  81  90

## if 문 실습

In [14]:
hour = int(input("근무 시간을 입력하시오 : "))
pay  = int(input("시간당 수당을 입력하시오 : "))
print()

total_pay = hour*pay

if hour > 12:
    add =

근무 시간을 입력하시오 : 20
시간당 수당을 입력하시오 : 40000

총 급여는 1216000.0 원입니다.

# for 반복문

## range() 함수 : 일정 범위의 수를 반환한다

In [19]:
range(5)

range(0, 5)

In [16]:
list(range(5))

[0, 1, 2, 3, 4]

In [20]:
a = list(range(10))

In [22]:
b = list(range(5,10))
print(b)

[5, 6, 7, 8, 9]

In [24]:
c = list(range(3,10,2))
print(c)

[3, 5, 7, 9]

In [25]:
d = list(range(10, 1, -2))
print(d)

[10, 8, 6, 4, 2]

In [59]:
for x in range(0,10,1):
    print(x, end = ' ')
print()

for x in range(0,55,5):
    print(x, end = ' ')
print()

for x in range(10,0,-1):
    print(x, end=' ')

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

## for문

In [26]:
for x in range(5):
    print(x)

0
1
2
3
4

In [27]:
names = ['현기', '유진', '재성','정원','일균','예지','주희']

In [30]:
for 이름 in names:
    print(이름)

현기
유진
재성
정원
일균
예지
주희

In [31]:
for 문자 in "불타는 금요일 입니다. 치맥 레츠기릿!":
    print(문자)

불
타
는

금
요
일

입
니
다
.

치
맥

레
츠
기
릿
!

In [32]:
a = 'abcdefg'

In [33]:
a.upper()

'ABCDEFG'

In [35]:
for al_up in 'abcdefg' :
    print(al_up.upper())

A
B
C
D
E
F
G

In [36]:
for x in range(1,100,2): #홀수 출력
    print(x)

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

In [39]:
for dan in range(2,10):
    for n in range(1,10):
        print(dan*n, end = ' ')
    print()

2 4 6 8 10 12 14 16 18
3 6 9 12 15 18 21 24 27
4 8 12 16 20 24 28 32 36
5 10 15 20 25 30 35 40 45
6 12 18 24 30 36 42 48 54
7 14 21 28 35 42 49 56 63
8 16 24 32 40 48 56 64 72
9 18 27 36 45 54 63 72 81

In [40]:
score = {4:90, 2:80, 1:95, 5:88, 3:92}

In [43]:
for x in score.keys():
    print(x)

4
2
1
5
3

In [44]:
for k, v in score.items():
    print("key : ",k, end = ' ')
    print("values : ",v)

key :  4 values :  90
key :  2 values :  80
key :  1 values :  95
key :  5 values :  88
key :  3 values :  92

In [46]:
score.items()

dict_items([(4, 90), (2, 80), (1, 95), (5, 88), (3, 92)])

In [44]:
for k, v in score.items():
    print("key : ",k, end = ' ')
    print("values : ",v)

key :  4 values :  90
key :  2 values :  80
key :  1 values :  95
key :  5 values :  88
key :  3 values :  92

In [51]:
A = [x**2 for x in range(10)] # 0에서 9까지 제곱
A

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81]

## 실습_3

## 문제 1.

In [61]:
for x in range(0,10,1):
    print(x, end = ' ')
print()

for x in range(0,55,5): #for x in range (0, 51, 5):
    print(x, end = ' ')
print()

for x in range(10,0,-1):
    print(x, end=' ')

0 1 2 3 4 5 6 7 8 9
0 5 10 15 20 25 30 35 40 45 50
10 9 8 7 6 5 4 3 2 1

In [13]:
score = []
for _ in range(5):
    data = int(input(("성적을 입력하시오 : ")))
    score.append(data)
print()
print("입력한 성적들 :", score)
print("최고 성적 : ", max(score))
print("최저 성적 : ", min(score))

avg = sum(score)/ len(score)
print("평균 : ", avg)

성적을 입력하시오 : 50
성적을 입력하시오 : 50
성적을 입력하시오 : 50
성적을 입력하시오 : 50
성적을 입력하시오 : 50

입력한 성적들 : [50, 50, 50, 50, 50]
최고 성적 :  50
최저 성적 :  50
평균 :  50.0