### 홑따옴표와 쌍따옴표 같이 사용하기

In [5]:
print('say "hello" to mom')

say "hello" to mom

In [6]:
print('''say 'hello' to "mom"''')

say 'hello' to "mom"

### 문자열 인덱싱

In [7]:
hello = "hello world"

In [8]:
hello[5]

' '

In [9]:
greeting = 'hello world'

In [10]:
print(greeting[7])

o

In [11]:
print(greeting[-1])

d

In [12]:
lang = 'python programming'

In [15]:
lang[0] # 인덱스 0의 문자

'p'

In [16]:
lang[0:3] # 인덱스 0부터 3-1 까지의 문자열 (0 < 3)

'pyt'

In [18]:
lang[0:3:1] #a,b,c 
# 0부터 (3-1)까지의 1간격의 문자열
# a<b, c>0 : a부터 b-1까지 c 간격의 문자열
# a>b, c<0 : a부터 b+1까지 c 간격의 문자열

'pyt'

In [19]:
lang[:] #문자열 전체

'python programming'

In [20]:
lang[::] #문자열 전체

'python programming'

lang[3:10] # 'honpro'  
lang[:5] # 'pytho'(lang[0:5]와같다)  
lang[10:] # 'gramming'(10부터끝까지)  
lang[5:-8] # 'n pro' (양수, 음수섞어서사용가능)  
lang[10:5] # 빈문자열  
lang[-10:-13] # 빈문자열  
lang[2:10:3] # ' tnr'  
lang[:10:3] # 'ph o' (lang[0:10:3]와같다)  
lang[10::2] # 'gamn' (10부터끝까지2칸씩)  
lang[12:3:-2] # 'agr o' (12에서4까지2칸씩앞으로)

### 문자열 연결

In [3]:
a = 'hello'

In [22]:
b = 'world'

In [23]:
a+b

'helloworld'

In [25]:
a + ' ' + b

'hello world'

In [4]:
a*3 #문자열 3회 반복

'hellohellohello'

### 문자열 길이 / 포함 관계

- 문자열 길이 - len() 내장 함수

In [5]:
subject = "Data Science"

In [6]:
len(subject)

12

- 문자열 포함 - in, not in 연산자

In [7]:
'r' in subject

False

In [8]:
'ata' in subject

True

### 문자열 메소드 이용하기

- upper() : 문자열 모두 대문자로 바꿈
- lower() : 문자열 모두 소문자로 바꿈
- isupper() : 모두 대소문자일때 TRUE 반환
- islower() : 모두 소문자일때 TRUE 반환
- capitalize() : 첫 문자를 대문자로 바꾼다
- title() : 문자열에서 각 단어의 첫 문자들을 대문자로 바꾼다
- istitle()
- count() : 부분 문자열을 센다
- find() : 부분 문자열 찾아서 첫 인덱스를 알려준다
- join(리스트) : 리스트에 있는 자료들을 문자열로 연결
- split() : 문자열을 스페이스 기준으로 잘라서 리스트에 저장

In [9]:
lists = 'Jay Park in the building'

In [10]:
lists.split()

['Jay', 'Park', 'in', 'the', 'building']

In [11]:
data = '2016, 12, 25'
data.split(',') # ','로 분리

['2016', ' 12', ' 25']

In [27]:
math = 77  
science = 88

In [28]:
print(math, science)

77 88

In [29]:
print("내 수학점수는 > ", math)

내 수학점수는 >  77

In [30]:
print("내 과학점수는 > ", science)

내 과학점수는 >  88

### .format

In [31]:
print("수학점수는 : {}, 과학점수는 {} "
      .format(math, science))

수학점수는 : 77, 과학점수는 88

In [32]:
print("수학점수는 : {0}, 과학점수는 {0} "
      .format(math, science))

수학점수는 : 77, 과학점수는 77

In [33]:
print("수학점수는 : {1}, 과학점수는 {1} "
      .format(math, science))

수학점수는 : 88, 과학점수는 88

In [34]:
print("수학점수는 : {1}, 과학점수는 {2} "
      .format(math, science))

IndexError: tuple index out of range

In [37]:
print("abc")

abc

In [36]:
print("abc", end = ' def')

abc def

### input()

In [38]:
input()

hello

'hello'

In [39]:
name = input()

Jay Park

In [40]:
print(name)

Jay Park

In [41]:
input("이름을 입력하세요 >> ")

이름을 입력하세요 >> Jay Park

'Jay Park'

In [2]:
name = input("이름을 입력하세요 >> ")
phone = input("전화번호를 입력하세요 >> ")
add = input("주소를 입력하세요 >> ")


print("이름 >> {0}\n전화번호 >> {1}\n주소 >> {2}"
     .format(name, phone, add))

이름을 입력하세요 >> jaypark
전화번호를 입력하세요 >> 010524107
주소를 입력하세요 >> 12341234
이름 >> jaypark
전화번호 >> 010524107
주소 >> 12341234

## 문제 1
세과목(국어, 수학, 영어) 성적을input()함수로입력받아세과목의총점과평균을구하는프로그램을작성하시오. 평균은소수점둘째자리까지출력되도록한다.

In [8]:
korean = int(input("국어 성적을 입력하세요 : "))
math = int(input("수학 성적을 입력하세요 : "))
english = int(input("영어 성적을 입력하세요 : "))
print()

print("입력받은 성적")
print()
print("----------------")
print("국어 성적 : {}".format(korean))
print("수학 성적 : {}".format(math))
print("영어 성적 : {}\n".format(english))
print("----------------")

print("총점 : {}".format(korean+math+english))
print("평균 : {}".format((korean+math+english)/3))

국어 성적을 입력하세요 : 50
수학 성적을 입력하세요 : 50
영어 성적을 입력하세요 : 50

입력받은 성적

----------------
국어 성적 : 50
수학 성적 : 50
영어 성적 : 50

----------------
총점 : 150
평균 : 50.0

In [22]:
korean = int(input("국어 성적을 입력하세요 : "))
math = int(input("수학 성적을 입력하세요 : "))
english = int(input("영어 성적을 입력하세요 : "))
print()

print("입력받은 성적")
print()
print("---------------") #print("-"*15)
print("국어 성적 : {}".format(korean))
print("수학 성적 : {}".format(math))
print("영어 성적 : {}\n".format(english))
print("---------------")

total = korean + math + english
avg = (total/3)

print("총점 : {}".format(total))
print("평균 : {0:.2f}".format(avg))

국어 성적을 입력하세요 : 50
수학 성적을 입력하세요 : 50
영어 성적을 입력하세요 : 50

입력받은 성적

---------------
국어 성적 : 50
수학 성적 : 50
영어 성적 : 50

---------------
총점 : 150
평균 : 50.00

In [21]:
print("-"*15)

---------------

## 문제 2
input() 함수를이용하여원의반지름을입력받는다. 입력받은반지름으로원의넓이와원의둘레를구하여소수셋째자리까지출력하는프로그램을작성하시오. 원주율을3.141592로한다.

In [29]:
r = int(input("반지름을 입력하시오 : "))
print("반지름 : {}" .format(r))

area = (3.141592)*r**2 #(3.141592)*pow(r,2)
cir = 2*(3.141592)*r

print("원의 넓이 : {0:.3f}" .format(area)) 
#print('원의 넓이 : %7.3f' %area)
print("원의 둘레 : {0:.3f}" .format(cir))
#print('원의 둘레 : %.3f' %cir)

반지름을 입력하시오 : 5
반지름 : 5
원의 넓이 : 78.540
원의 둘레 : 31.416

## 문제 3
다섯자리양의정수를입력받아서다음과같이각자리수를떼어서출력하는프로그램을작성하시오. 항상올바르게다섯자리숫자를입력하고1~9의수만입력한다고가정한다.

In [ ]:
number